#.idea
/bin/
target/**/*.class
*.spvchain
*.wallet
*.tmp
target/*
!com.problemeszero.redwax-0.1.jar
!com.problemeszero.redwax-shaded.jar
!lib/*.jar
.project
./idea/workspace.xml
.classpath
.settings/
red-max.iml
